<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="container">

    <header>
        <% include partials/header %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">

                <div class="jumbotron">
                    <h1>All Quizzes</h1>
                </div>

            </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <table class="table table-hover">
              <tr>
                <td>Link</td>
                <td>Description</td>
                <td>Creation Date</td>
                <td>Number of Questions</td>
              </tr>
              <% data.forEach(function(quiz) { %>
                <tr>
                  <td><a href="/quiz/<%= quiz.slug %>/jwt/<%=jwt%>"><%= quiz.slug.toUpperCase() %></a></td>
                  <td><%=quiz.description%></td>
                  <td><%=quiz.createdDate%></td>
                  <td><%=quiz.questions.length%></td>
                </tr>
              <% }); %>
            </table>
          </div>
        </div>
    </main>

    <footer>
        <% include partials/footer %>
    </footer>

</body>
</html>
