extends ./layout.jade

block title
  title Welcome

block content
  h1 Single Quiz
  p= quiz.description
  form(action="/quiz/"+quiz.slug+"/email/"+email method="POST")
    each question in quiz.questions
      section
        h2= question.text
        each choice, index in question.choices
          input(type="radio" name=question.text value=choice)
          label= choice
          br
    input(type="submit" value="Submit")
  h2 You are logged in as
  p= email
