extends ./layout.jade

block title
  title Welcome

block content
  script(type="text/javascript"
         async
         src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML")
  script(type="text/x-mathjax-config") MathJax.Hub.Config({tex2jax: {inlineMath: [['~$','~$'], ['\\(','\\)']]}});
  h1 Single Quiz
  p= quiz.description
  form(action="/quiz/"+quiz.slug+"/jwt/"+jwt method="POST")
    each question in quiz.questions
      section
        h2= question.text
        each choice, index in question.choices
          input(type="radio" name=question.text value=choice)
          label= choice
          br
    input(type="submit" value="Submit")
  h2 You are logged in as
  p= email
