<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['~$','~$'], ['\\(','\\)']]}});
    </script>
</head>
<body class="container">

    <header>
        <% include partials/header %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">

                <div class="jumbotron">
                    <h1>Single Quiz</h1>
                </div>

            </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <p>
              <%= quiz.description %>
            </p>
            <form action="/quiz/<%=quiz.slug%>/jwt/<%=jwt%>" method="post">
              <% quiz.questions.forEach(function(question) { %>
                <section>
                  <h2><%= question.text %></h2>
                  <% question.choices.forEach(function(choice) { %>
                    <input type="radio" name="<%=question.text%>" value="<%=choice%>">
                    <label><%= choice %></label>
                    <br>
                  <% }); %>
                </section>
              <% }); %>
              <input type="submit" value="Submit">
            </form>
          </div>
        </div>
    </main>

    <footer>
        <% include partials/footer %>
    </footer>

</body>
</html>
