<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="container">

    <header>
        <% include partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Recent Quizzes Taken</h1>
        </div>
        <% if (locals.results) { %>
        <div class="row">
        <div class="col-sm-8">
          <table class="table table-hover">
            <tr>
              <td>Link</td>
              <td>Timestamp</td>
              <td>Number of Questions</td>
              <td>Number Correct</td>
              <td>Percentage</td>
            </tr>
            <% results.forEach(function(result) { %>
              <tr>
                <td><a href="/quiz/<%=result.slug%>/jwt/<%=jwt%>"><%=result.slug.toUpperCase()%></a></td>
                <td><%= result.timestamp.toLocaleTimeString("en-us", {
                          weekday: "long", year: "numeric", month: "short",
                          day: "numeric", hour: "2-digit", minute: "2-digit"
                      }) %></td>
                <td><%= result.numQuestions %></td>
                <td><%= result.numCorrect %></td>
                <td><%= result.percentage %></td>
              </tr>
            <% }); %>
          </table>
        </div>
      </div>
      <% } %>
    </main>

    <footer>
        <% include partials/footer %>
    </footer>
</body>
</html>
